<div class="app-container">
  <div class="card-container">
    <div class="card-body">
      <h4>Add Employee</h4>
      <form (ngSubmit)="registerAdmin()">
        <!-- Row for First and Last Name -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Nome </label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter Nom" name="firstName" [(ngModel)]="formData.firstName" required>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Prenom </label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Prenom" name="lastName" [(ngModel)]="formData.lastName" required>
          </div>
        </div>
        
        <!-- Row for Email and Phone Number -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="formData.email" required>
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">Numero de Telephone</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number" name="phoneNumber" [(ngModel)]="formData.phoneNumber" required>
          </div>
        </div>
        <!-- Row for Password and Gender -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Create a password" name="password" [(ngModel)]="formData.password" required>
          </div>
          <div class="form-group col-md-6">
            <label for="gender">Genre</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="formData.genre" required>
              <option value="" disabled selected>Sélectionnez le sexe</option>
              <option value="male">homme</option>
              <option value="female">Femelle</option>
              <option value="other">Autre</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md">
            <label for="firstName">Nome d'utilisatur </label>
            <input type="text" class="form-control" id="username" placeholder="Enter first name" name="username" [(ngModel)]="formData.username" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary submit-btn">Ajouter un administrateur</button>
      </form>
    </div>
  </div>
</div>
