.app-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  
    .card-container {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      
      .card-body {
        margin: 20px;
  
        h4 {
          margin-bottom: 20px;
        }
      }
    }
  
    input[type="file"] {
      border: none;
    }
  
    .input-group-text {
      background-color: #eee;
    }
  
    button {
      width: 100%;
      padding: 10px 0;
    }
  }
  