<div class="app-container">
  <div style="position: absolute; top: 0; right: 0;">
    <!-- This will be replaced by your Angular component for toasts -->
  </div>
  <div class="card-container">
    <div class="card-body">
      <h4>Add Employee</h4>
      <form (ngSubmit)="registerAdmin()">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="First Name" name="firstName" [(ngModel)]="formData.firstName" required>
              <span class="input-group-text">Last Name</span>
              <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="formData.lastName" required>
            </div>
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="formData.email" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="formData.password" required>
              
            </div>
          </div>
          
          <div class="col-md-6">
            <select class="form-control" name="gender" [(ngModel)]="formData.genre" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Employe Name" name="employename" [(ngModel)]="formData.username" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; background-color: red; color: white;">Add Employee</button>
      </form>
    </div>
  </div>
</div>
