<div class="app-container">
  <div class="card-container">
    <div class="card-body">
      <h4>New Request</h4>
      
      <!-- Excel Import Section -->
      <!-- <div class="excel-import-section mb-4">
        <label for="excelFile" class="btn btn-excel">
            <i class="fas fa-upload"></i> Importer un fichier Excel
          </label>
          <input
            type="file"
            id="excelFile"
            class="d-none"
            accept=".xlsx, .xls"
            (change)="onFileSelected($event)"
          />
        <div class="import-buttons">
          <button 
            type="button" 
            class="btn btn-pdf" 
            (click)="generateExcelTemplate()">
            <i class="fas fa-file-excel"></i> Télécharger le modèle Excel
          </button>

          
        </div>
      </div> -->



      <h5>Or Create Single Request</h5>
      <form [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
        <!-- Row: Client selection -->
        <div class="form-row">
        <div class="form-group col-md-12">
          <label for="demandePour" class="form-label">Request for (Multiple selection allowed):</label>

          <ng-select
            class="custom-ng-select"
            [items]="clients"
            bindLabel="firstName"
            bindValue="id"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            [appendTo]="'body'"
            formControlName="demandePour">
            <ng-template ng-option-tmp let-item="item">
              {{ item.firstName }} {{ item.lastName }} - {{ item.email }}
            </ng-template>
          </ng-select>


          <div class="invalid-feedback"
              *ngIf="demandeForm.get('demandePour')?.invalid && demandeForm.get('demandePour')?.touched">
            Please select at least one client
          </div>
        </div>
      </div>



        <!-- Row: Laboratory and Additional fields -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="envoyeAuLaboratoire">Sent to the laboratory:</label>
            <input
              type="text"
              class="form-control"
              id="envoyeAuLaboratoire"
              formControlName="envoyeAuLaboratoire"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="courrielsSupplementaires">Additional emails:</label>
            <input
              type="text"
              class="form-control"
              id="courrielsSupplementaires"
              formControlName="courrielsSupplementaires"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="bonDeCommande">Purchase order:</label>
            <input
              type="text"
              class="form-control"
              id="bonDeCommande"
              formControlName="bonDeCommande"
            />
          </div>
        </div>

        <!-- Row: Additional Emails and Purchase Order -->
        <div class="form-row">
          

          
          <div class="form-group col-md-6">
            <label for="langueDuCertificat">Certificate language:</label>
            <select
              class="form-control styled-select"
              id="langueDuCertificat"
              formControlName="langueDuCertificat"
            >
              <option value="" disabled>Select Certificate Language</option>
              <option value="FRANCAIS">Français</option>
              <option value="ANGLAIS">Anglais</option>
            </select>
          </div>
        </div>

        <!-- Row: Certificate language -->
        <div class="form-row">
          
        </div>

        <!-- Row: Internal Comments -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="commentairesInternes">Internal comments to the analysis request:</label>
            <textarea
              class="form-control"
              id="commentairesInternes"
              formControlName="commentairesInternes"
              rows="3"
            ></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        <!-- <button type="button" class="btn btn-secondary ml-2" (click)="navigateToNext()">Next</button> -->
      </form>
    </div>
  </div>
</div>
