<div class="demande-client-table">
  <div class="table-header d-flex justify-content-between align-items-center mb-3 flex-wrap gap-3">
    <button (click)="navigateToDemandeForm()">Add New Request</button>
  </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Request For</th>
          <th>Sent To Laboratory</th>
          <th>Additional Emails</th>
          <th>Purchase order</th>
          <th>A sample</th>
          <th>Certificate Language</th>
          <th>Internal Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; let i = index" >
          <td>{{ demande.DemandeID }}</td>
          <td>{{ demande.DemandePour }}</td>
          <td>{{ demande.EnvoyeAuLaboratoire }}</td>
          <td>{{ demande.CourrielsSupplementaires }}</td>
          <td>{{ demande.BonDeCommande }}</td>
          <td>{{ demande.UnEchantillon ? 'Yes' : 'No' }}</td>
          <td>{{ demande.LangueDuCertificat }}</td>
          <td>{{ demande.CommentairesInternes }}</td>
          <td>
            <button (click)="acceptDemande(demande.DemandeID)">Accept</button>
            <button (click)="refuseDemande(demande.DemandeID)">Refuse</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  