<div class="client-table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Numéro de téléphone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.firstName   }}</td>
        <td>{{ client.lastName   }}</td>
        <td>{{ client.phoneNumber }}</td>
        <td>{{ client.email }}</td>
        <td>
          <button (click)="disable(client.id)">{{ client.active ? 'Désactiver' : 'Activer' }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
