<div class="client-table-container">
  <div class="table-header">
      <button (click)="navigateToDashboard()">Add Admin</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>admin Name</th>
        <th>Contact Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of Admins">
        <td>{{ admin.id }}</td>
        <td>{{ admin.firstName }}</td>
        <td>{{ admin.email }}</td>
        <td>
          <button (click)="deleteAdmin(admin.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
