<div class="client-table-container">
  <div class="table-header d-flex justify-content-between align-items-center mb-3 flex-wrap gap-3">
    <button (click)="navigateToDashboard()">Add Admin</button>
    <div class="d-flex flex-wrap gap-2">
      <input
        type="text"
        [(ngModel)]="nameFilter"
        placeholder="Filter by name"
        class="form-control shadow-sm"
      />
      <input
        type="text"
        [(ngModel)]="emailFilter"
        placeholder="Filter by email"
        class="form-control shadow-sm"
      />
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>name admin</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of filteredAdmins()">
        <td>{{ admin.id }}</td>
        <td>{{ admin.firstName }}</td>
        <td>{{ admin.lastName }}</td>
        <td>{{ admin.phoneNumber }}</td>
        <td>{{ admin.email }}</td>
        <td>
          <button (click)="deleteAdmin(admin.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
