<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Sample number</th>
        <th>Sample Name</th>
        <th>Back</th>
        <th>Arrange</th>
        <th>Sample type</th>
        <th>Collection location</th>
        <th>Return address</th>
        <th>Priority</th>
        <th>Collection start date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let echantillon of echantillons">
        <tr>
          <td>{{ echantillon.echantillonId }}</td>
          <td>{{ echantillon.nomEchantillon }}</td>
          <td>{{ getEnumDescription(Return, echantillon.returns) }}</td>
          <td>{{ getEnumDescription(Dispose, echantillon.disposes) }}</td>
          <td>{{ getEnumDescription(TypeEchantillon, echantillon.typeEchantillon) }}</td>
          <td>{{ echantillon.lieuPrelevement }}</td>
          <td>{{ echantillon.addressRetourner }}</td>
          <td>{{ echantillon.priorite }}</td>
          <td>{{ echantillon.dateFinPrelevement }}</td>
          <td>
            <button (click)="toggleDetail(echantillon)">Details</button>
          </td>
        </tr>
        <tr *ngIf="echantillon.showDetails">
          <td colspan="10">
            <div>
              <h4>List of Parameters</h4>
              <table>
                <tr>
                  <th>Name</th>
                  <th>RDL</th>
                  <th>Unit</th>
                </tr>
                <tr *ngFor="let param of echantillon.parameters">
                  <td>{{ param.name }}</td>
                  <td>{{ param.rdl }}</td>
                  <td>{{ param.unit }}</td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>  
</div>
<div class="status-controls">
  <select [(ngModel)]="selectedStatut" class="status-select">
    <option *ngFor="let status of statusOptions" [ngValue]="status.value">{{ status.label }}</option>
  </select>
  <button class="update-button" (click)="updateAllDemandeStatuses(selectedStatut!)">Change state</button>
</div>
