<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Numéro d'échantillon</th>
        <th>Nom de l'échantillon</th>
        <th>Retour</th>
        <th>Disposer</th>
        <th>Type d'échantillon</th>
        <th>Lieu de prélèvement</th>
        <th>Adresse de retour</th>
        <th>priorite</th>
        <th>Date de début de prélèvement</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let echantillon of echantillons">
        <td>{{ echantillon.echantillonId }}</td>
        <td>{{ echantillon.nomEchantillon }}</td>
        <td>{{ echantillon.returns }}</td>
        <td>{{ echantillon.disposes }}</td>
        <td>{{ echantillon.typeEchantillon }}</td>
        <td>{{ echantillon.lieuPrelevement }}</td>
        <td>{{ echantillon.addressRetourner }}</td>
        <td>{{ echantillon.priorite }}</td>
        <td>{{ echantillon.dateFinPrelevement }}</td>
        <td><button class="details-button">Détails</button></td>
      </tr>
    </tbody>
  </table>  
</div>
<div class="status-controls">
  <select [(ngModel)]="selectedStatut" class="status-select">
    <option *ngFor="let status of statusOptions" [ngValue]="status.value">{{ status.label }}</option>
  </select>
  <button class="update-button" (click)="updateAllDemandeStatuses(selectedStatut!)">Modifier etat</button>
</div>


