<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Numéro d'échantillon</th>
        <th>Nom de l'échantillon</th>
        <th>Retour</th>
        <th>Disposer</th>
        <th>Type d'échantillon</th>
        <th>Lieu de prélèvement</th>
        <th>Adresse de retour</th>
        <th>Priorité</th>
        <th>Date de début de prélèvement</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let echantillon of echantillons">
        <tr>
          <td>{{ echantillon.echantillonId }}</td>
          <td>{{ echantillon.nomEchantillon }}</td>
          <td>{{ echantillon.returns }}</td>
          <td>{{ echantillon.disposes }}</td>
          <td>{{ echantillon.typeEchantillon }}</td>
          <td>{{ echantillon.lieuPrelevement }}</td>
          <td>{{ echantillon.addressRetourner }}</td>
          <td>{{ echantillon.priorite }}</td>
          <td>{{ echantillon.dateFinPrelevement }}</td>
          <td>
            <button (click)="toggleDetail(echantillon)">Details</button>
          </td>
        </tr>
        <tr *ngIf="echantillon.showDetails">
          <td colspan="10">
            <div>
              <h4>List of Parameters</h4>
              <table>
                <tr>
                  <th>Name</th>
                  <th>RDL</th>
                  <th>Unit</th>
                </tr>
                <tr *ngFor="let param of echantillon.parameters">
                  <td>{{ param.name }}</td>
                  <td>{{ param.rdl }}</td>
                  <td>{{ param.unit }}</td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>  
</div>
<div class="status-controls">
  <select [(ngModel)]="selectedStatut" class="status-select">
    <option *ngFor="let status of statusOptions" [ngValue]="status.value">{{ status.label }}</option>
  </select>
  <button class="update-button" (click)="updateAllDemandeStatuses(selectedStatut!)">Modifier état</button>
</div>
