<div class="user-table-container">
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role(s)</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName ? user.firstName : '' }} {{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>
                  <!-- <ng-container *ngIf="user.roles?.length">
                      <span *ngFor="let role of user.roles; let i = index">
                          {{ role.name }}<ng-container *ngIf="i < user.roles.length - 1">, </ng-container>
                      </span>
                  </ng-container> -->
              </td>
              <td>
                  <button (click)="editUser(user)">Edit</button>
                  <button (click)="deleteUser(user.id)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
